body{
    margin: 10px;
}
header{
    height: 550px;
    padding-left: 40px;
    background-image: url(images/image2.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid;
}
.belowHeader{
    height: 490px;
    border: 2px solid;
    background-color: #e1ebe6;
}
.review{
    height: 550px;
    border: 2px solid;
    padding-top: 80px;
    padding-left: 700px;
    text-align: center;
}
main{
    height: 800px;
    padding-top: 30px;
    border: 2px solid;
    background-color: #e1ebe6;
}
footer{
    height: 300px;
    padding-top: 100px;
    text-align: center;
    border: 2px solid;
}

#logo{
    display: inline-block;
    color: #f19201;
}
.navbar img{
    vertical-align: middle;
}
nav{
    display: flex;
    padding-top: 5px;
}
.links{
    margin-left: 375px;
}
ul{
    list-style-type: none;
    padding: 10px 40px;
}
li{
    padding: 0 20px; 
}
a{
    text-decoration: none;
    color: #ffff;
}
.links>ul>li{
    display: inline-block;
    vertical-align: middle;
}

#homebox{
    width: 120px;
    height: 30px;
    border: 2px solid;
    margin-top: 20px;
    background-color: #f19201;
    color: #ffff;
}
.welcome{
    padding-top: 100px;
    padding-bottom: 40px;
    color: #ffff;
}
.order{
    width: 110px;
    height: 40px;
    border: 2px solid;
    background-color: #f19201;
    color: #ffff;
}
#services{
    text-align: center;
}

.orderfood{
    width: 100px;
    height: 32px;
    border: 2px solid;
    text-align: center;
    padding: 2px;
    background-color: #e1ebe6;
}
.container1{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.menu{
    text-align: center;
}
#flex1{
    width: 300px;
    height: 260px;
    border: 2px solid;
    margin-left: 60px;
    text-align: center;
} 
#flex1 :first-child{
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f19201;
    color: #ffff;
    outline: none;
    border: none;
    font-size: 16px;
}   

.top{
    display: flex;
    justify-content: center;
}
.bottom{
    display: flex;
    justify-content: center;
 }

#menu1 img{
    width: 220px;
    padding: 14px 10px 10px 20px;
}

#menu1{
    width: 500px;
    height: 240px;
    border: 2px solid;
    margin-left: 60px;
    margin-bottom: 30px;
}
#float{
    float: right;
    margin: 0 40px;
}

footer :nth-child(3){
    width: 100px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
}
